
@media (max-width: 500px) {
  .map {
    height: 450px !important;
    width: 350px !important;
  }
  .container {
    align-items: center !important;
  }
}

@media (min-width:500px) and (max-width:700px){
   .map{
      height: 500px;
      width:450px;
   }
   .container {
    align-items: center !important;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .map {
    height: 500px !important;
    width: 650px !important;
  }
}


@media (min-width: 901px) and (max-width: 1400px) {
  .map {
    height: 800px !important;
    width: 1000px !important;
  }
}


@media (min-width: 1401px) {
  .map {
    height: 800px !important;
    width: 1800px !important;
  }
}
