@font-face {
  font-family: 'Soligant';
  src: url('/assets/fonts/Soligant.otf') format('opentype');
  font-weight: normal; /* Adjust as needed */
  font-style: normal; /* Adjust as needed */
}

@font-face {
  font-family: 'Miama';
  src: url('/assets/fonts/miama/Miama.otf') format('opentype');
  font-weight: normal; /* Adjust as needed */
  font-style: normal; /* Adjust as needed */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw !important;
  min-height: 100vh !important;
  scroll-behavior: smooth !important;
  margin: 0px !important;
  padding:0px !important;
  overflow-x: hidden !important;
  background-color: #111E64;
}



